.productosContainer {
  display: grid;
  gap: 10px;
  justify-items: center;
}

@media (max-width: 599px) {
  .productosContainer {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .productosContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .productosContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}